body {
    text-align: center;
    background-color: #703c48;
    color: white;
  }
  
  #artist {
    color:#ed7944;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background: transparent;
    padding: 10px;
    border-style: solid;
    max-width: 500px;
    margin: 0 auto;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  a {
    color: white;
  }
